<h1> Items</h1>

<%= link_to "Create New Item", new_portfolio_url %>


<% @portfolio_items.each do |portfolio_item| %>
	<%= render partial: "portfolio", locals: { portfolio_item: portfolio_item } %>
<% end %>
