<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		

		<%= image_tag "https://via.placeholder.com/350x150", alt: 'profile image' %>
		
	</div>

	<div class="col-md-8">
		<p>this is just some more example text to go in my about page this is just some example text to go in my about page this is just some example text to go in my about page this is just some example text to go in my about page this is just some example text to go in my about page this is just some example text to go in my about page this is just some example text to go in my about page this is just some example text to go in my about page</p>
	</div>




</div>
